/**/
.about{


    height: 100%;
    display: block;
    margin: 0 auto;
    width: 45%;

}

@media (max-width: 944px) {
    .about{
        width: 80%;
    }


}


p2{

    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
    font-weight: normal;
    font: 100.5%/2 'Montserrat Medium', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #FAFAFA;
}

p1{

    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
    font-weight: normal;
    font: 240.5%/1.5 'Montserrat Medium', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #FAFAFA;
}

p3{

    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
    font-weight: normal;
    font: 170.5%/2 'Montserrat Medium', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #FAFAFA;
}