
.arrow-icon {
    width: 30px;
    height: 10px;
    display: block;
    margin: 1em auto;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
}

.left-bar {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 20px;
    height: 7px;
    display: block;
    transform: rotate(35deg);
    float: right;
    border-radius: 2px;
}
.left-bar:after {
    content: "";
    background-color: #3D3D3D;
    width: 20px;
    height: 7px;
    display: block;
    float: right;
    border-radius: 6px 10px 10px 6px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.right-bar {
    position: absolute;
    background-color: transparent;
    top: 0px;
    left: 11px;
    width: 20px;
    height: 7px;
    display: block;
    transform: rotate(-35deg);
    float: right;
    border-radius: 2px;
}
.right-bar:after {
    content: "";
    background-color: #3D3D3D;
    width: 20px;
    height: 7px;
    display: block;
    float: right;
    border-radius: 10px 6px 6px 10px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
    z-index: -1;
}

.open .left-bar:after {
    background-color: #A8C256;
    transform-origin: center center;
    transform: rotate(-70deg);
}
.open .right-bar:after {
    background-color: #A8C256;

    transform-origin: center center;
    transform: rotate(70deg);
}
