/**/
.block5{
    text-align: center;
    max-width: 1230px;
    height: 100%;
    width: 100%;
    margin: 80px auto;
    padding-bottom: 2px;
}


/**/
.faq-p1{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 250.5%/1.2 'Montserrat ExtraBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}

/*FAQ*/
.faq{

    max-width: 830px;
    text-align: center;
    margin: 80px auto;
}



/**/
.faq1-p1{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 170.5%/1.2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}

/**/
.faq1-p2{

    margin-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 90.5%/2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #6D7882;
}