/**/
.block9{
    text-align: center;
    max-width: 1230px;
    height: 100%;
    width: 100%;
    margin: -300px auto;
    margin-bottom: 150px;

}

/**/
.packege-container3{
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    width: 80%;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding-bottom: 80px;
}


@media (max-width: 944px) {

    .packege-container3 {
        width: 90%;
    }
}

/**/
.packege-container-p1{
    display: block;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font:170.5%/2.2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #b3b3b3;
}

/**/
.packege-container-p2{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 450.5%/1.2 'Montserrat ExtraBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}

/**/
.packege-container-p3{
    display: block;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 200.5%/1.5 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}
/**/
.packege-container-p4{
    display: block;
    margin-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 100.5%/2.2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #3D3D3D;
}

/**/
.packege-container-items3{
    display: block;
    text-align: center;
    width: 80%;
    margin: 70px auto;
    padding-left: 60px;
}


ul {

    margin-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 100.5%/2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #6D7882;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    list-style-image: url(../src/book-01.png);
}


ul li {


    text-align: left;
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}



/**/
.courselength3{
    margin-top: -40px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 200.5%/2.2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}

.course-items3{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 100.5%/2.2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #6D7882;
    padding-bottom:30px;
}




@media (max-width: 944px) {

    .course-items3 {

        margin-top: -40px;
        padding-bottom: 20px;
    }

    .courselength3{
        margin-top:   1px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        border: none;
        outline: none;
        font-weight: normal;
        font: 130.5%/2.2 'Montserrat SemiBold', serif;
        font-weight: 100;
        font-kerning: auto;
        font-feature-settings: normal;
        color: #6D7882;
        padding-bottom: 30px;
    }



    .packege-container-items3{

        padding-left: 0px;
        width: 100%;

    }

    ul {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;


    }

    ul li{

        margin-left: 20px;
        margin-right: 20px;
    }

    .packege-container3{
        height: 100% ;
    }



}





/**/
.packege3{
    transition: .3s ease-in-out;
    display: inline-block;
    margin: 10px 20px 10px 20px;
    width: 300px;
    height: 300px;
    box-shadow: #C4D0A8 0px 20px 25px -3px, rgba(0, 0, 0, 0.002) 0px 43px 2px -2px;
    border-radius: 30px;
    background-color: white;
    align-items: center;
}


