/**/
.block6{
    text-align: center;
    max-width: 1230px;
    height: 100%;
    width: 100%;
    margin: 80px auto;
}

/**/
.block6-p1{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 250.5%/1.2 'Montserrat ExtraBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}

/**/
.block6-p2{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 100.5%/2.2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #6D7882;
}

/**/
.block6-button{
    margin-top: 30px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font:120.5%/0 'Montserrat SemiBold', serif;
    font-kerning: auto;
    font-feature-settings: normal;
    line-height: 0.6em;
    color: white;
    background-color: #011C27;
    border-radius: 40px 40px 40px 40px;
    padding: 24px 30px 24px 30px;
}

/**/
.block6-button:hover{
    background-color: #A8C256;
    color: white;
    transform: scale(1.1);
    transition: 0.3s ;
}