/**/
.block2{
    text-align: center;
    max-width: 1230px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/**/
.packeges{

    padding-bottom: 40px;
    margin-top: -80px;
    height: 100%;
    width: 100%;
}

/**/
.packege{
    transition: .3s ease-in-out;
    display: inline-block;
    margin: 10px 20px 10px 20px;
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 30px;
    background-color: white;
    align-items: center;

}
.packege:hover{
       transition: .3s ease-in-out;
      box-shadow: #C4D0A8 0px 10px 15px -3px, rgba(0, 0, 0, 0.002) 0px 3px 2px -2px;
}



/**/
.packege-p1{
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 120.5%/2.45 'Montserrat SemiBold', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #6D7882;
}


/**/
.packege-p2{
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 340.5%/1 'Montserrat extraBold', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}

/**/
.packege-p3{
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 90.5%/2 'Montserrat Medium', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #6D7882;
}

/**/
.packege-button{
    margin-top: 10px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font:80.5%/0 'Montserrat SemiBold', serif;
    font-kerning: auto;
    font-feature-settings: normal;
    line-height: 0.6em;
    color: white;
    background-color: #011C27;
    border-radius: 40px 40px 40px 40px;
    padding: 18px 30px 18px 30px;
}

/**/
.packege-button:hover{
    background-color: #A8C256;
    color: white;
    transform: scale(1.1);
    transition: 0.3s ;
}