/**/
.block4{
    text-align: center;
    max-width: 1230px;
    height: 100%;
    width: 100%;
    margin: 80px auto;
    padding-bottom: 40px;
}

/**/
.feedbacks{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}


/**/
.feedback{
    transition: .3s ease-in-out;
    display: inline-block;
    margin: 10px 20px 10px 20px;
    width: 330px;
    height: 690px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 30px;
    background-color: white;
    align-items: center;
}
/**/
.feedback:hover{

    box-shadow: #C4D0A8 0px 10px 15px -3px, rgba(0, 0, 0, 0.002) 0px 3px 2px -2px;
    transition: .3s ease-in-out;
}
/**/
.feedback-img{
    margin: 20px auto;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: #011C27;
}

#img1{

    background-image: url(../src/1.webp);
    background-size: cover;

}
#img2{

    background-image: url(../src/2.webp);
    background-size: cover;

}
#img3{

    background-image: url(../src/3.webp);
    background-size: cover;

}


/**/
.feedback-p1{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 150.5%/1.2 'Montserrat SemiBold', serif;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}

/**/
.feedback-p2{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 94.5%/1.6 'Montserrat Medium', serif;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}