/**/
.block3{
    text-align: center;
    max-width: 1230px;
    height: 100%;
    width: 100%;
    margin: 80px auto;

}

/**/
.block3-p1{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 250.5%/1.2 'Montserrat ExtraBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}

/**/
.block3-p2{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 90.5%/2.2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;
}