/* */
.burger {
    float: right;
    margin-left: auto;
}

/* */
.burgerICO {
    -moz-transition: all 0.4s ease-out; /* FF4+ */
    -o-transition: all 0.4s ease-out; /* Opera 10.5+ */
    -webkit-transition: all 0.4s ease-out; /* Saf3.2+, Chrome */
    float: right;
    transition: all 0.4s ease-out;
    display: inline-flex;
    cursor: pointer;
    width: 42px;
    height: 42px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
}

/* */
.burgeritems {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    align-items: center;
    display: block;
    text-align: center;
    padding-top: 80px;
}

/* */
.burgeritems a {
    display: block;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    font-weight: normal;
    font: 137.5%/1.45 'Montserrat Medium', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: white;
}

/* */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hamRotate.active {
    transform: rotate(45deg);
}

/* */
.hamRotate180.active {
    transform: rotate(180deg);
}

/* */
.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #FFFFFF;
    stroke-width: 5;
    stroke-linecap: round;
}

/* */
.ham1 .top {
    stroke-dasharray: 40 134;
    stroke-dashoffset: 12px;
}

/* */
.ham1 .bottom {
    stroke-dasharray: 40 180;
    stroke-dashoffset: 20px;
}

/* */
.ham1.active .top {
    stroke-dashoffset: -98px;
}

/* */
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

/*  */
@media (max-width: 944px) {
    .burgerpanel {
        position: absolute;
        width: 97%;
        height: 120%;
        margin: 0 auto;
        background-color: #011C27;
    }
    html{
        overflow-y: hidden;
        overflow-x: hidden;
    }
}
html{
    overflow-y:  visible;
}
/* */
