/**/
.blockC{

    display: block;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #011C27;
    padding-bottom: 30px;

}

/**/
.contactblock{
    text-align: center;
    max-width: 1230px;
    height: 100%;
    width: 100%;
    margin: 0 auto;

}


/**/
.mailsendform{
   margin-bottom: 200px;
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: #FAFAFA;
}

/**/
.contacts{
    display: inline-block;
    width: 320px;
    height: 500px;

}

/**/
@media (max-width: 944px) {

    /**/
    .mailsendform{
        display: inline-block;
        width: 350px;
        height: 350px;

    }

    /**/
    .contacts{
        display: inline-block;
        width: 350px;
        height: 350px;

    }

}
/**/
input{
    height: 20px;
    border-radius: 30px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 10px;
    margin-top:40px;
    width: 90%;
    outline: none;
    font:100.5%/1.4 'Montserrat Regular', serif;
    text-decoration: none;
}

/**/
textarea{
    height: 20px;
    border-radius: 30px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 10px;
    margin-top:40px;
    width: 90%;
    outline: none;
    text-decoration: none;
    resize: none;
    font:100.5%/1.4 'Montserrat Regular', serif;
}

img{
    margin-right: 10px;
}

.block8-p2{

    display: flex;
   align-items: center;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border: none;
    outline: none;
    font-weight: normal;
    font: 100.5%/2.2 'Montserrat SemiBold', serif;
    font-weight: 100;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #6D7882;
}

.messege{
    height: 140px;
    border-radius: 10px;
}

/**/
.mailsendform-button{
    margin-left: 20px;
    margin-top: 30px;
      float: left;
    border: none;
    outline: none;
    font-weight: normal;
    font:80.5%/0 'Montserrat SemiBold', serif;
    font-kerning: auto;
    font-feature-settings: normal;
    line-height: 0.6em;
    color: white;
    background-color: #011C27;
    border-radius: 30px;
    padding: 20px 20px 20px 20px;
}

/**/


/**/
.mailsendform-button:hover{
    background-color: #A8C256;
    color: white;
    transform: scale(1.1);
    transition: 0.3s ;
}