
.footer{
    height: 100px;
    text-align: center;
    display: block;
}

.footer-items{
    margin-top: 40px;
    text-align: center;
    display: block;
}
.P34{
    margin: 20px auto;
    padding-left: 40px;
    padding-right:40px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font: 100.5%/1.2 'Montserrat Medium', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: #011C27;

}

.P35{
  margin-top: 30px;
    padding-left: 20px;
    padding-right:20px;
    text-align: center;
    font-weight: normal;
    font: 100.5%/1.2 'Montserrat Medium';
    color: #011C27;
}

@media (max-width: 944px) {
    .P34{
        padding-left: 5px;
        padding-right: 5px;
    }

}

.P34:hover{
    color: #A8C256;
    cursor: pointer;

}