/**/
html{
    background-color: #FAFAFA;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    font-family: "standart", sans-serif;
}

/**/
.hide {
    display: none;
}

/**/
body{
    background-color: #FAFAFA;
    overflow-x: hidden;
    scroll-behavior: smooth;
    
}

/**/
.workplace{
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;

    margin: 0 auto;
}




/* */
@media (min-width: 944px) {
    .burger {
        display: none;
        visibility: hidden;
    }

    .burgeritems {
        display: none;
        visibility: hidden;
    }

    .menuitems {
        display: block;
        visibility: visible;
    }

    .burgerpanel {
        display: none;
        visibility: hidden;
    }
}

@media (max-width:944px) {
    .menuitems {
        display: none;
        visibility: hidden;
    }


}


/* */
#particles-js {
    position: fixed;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 40%;
}

