
/**/
.submitform-inputs{
    width: 80%;
    margin: 0 auto;
}
/**/
input{
    height: 20px;
    border-radius: 30px;
    background-color: #FAFAFA;
    border-color: #FAFAFA;
    border-style: solid;
    border-width: 10px;
    margin-top:40px;
    width: 90%;
    outline: none;
    font:100.5%/1.4 'Montserrat Regular', serif;
    text-decoration: none;
}

/**/
.packeges2{
    padding-bottom: 40px;
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

.b0{
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;


}
.sb0{

    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font:90.5%/2.45 'Montserrat SemiBold', serif;
    font-kerning: auto;
    font-feature-settings: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    fill: #3D3D3D;
    color: #FFFFFF;
    background-color: #011C27;
    border-radius: 50px 50px 50px 50px;
    padding: 18px 40px 18px 40px;
}

.sb0:hover {
    background-color: #A8C256;
    color: white;
    transform: scale(1.1);
    transition: 0.3s ;
}
