

.block1{

    display: block;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #011C27;
}
/* */
.bar {
   padding-top: 10px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1230px;
    height: 50px;
}
/* */
.hide {
    display: none;
}


/* */
/* LOGO */
.logo{
    display: block;
    float: right;
    margin-left: 12px;
    width: 240px;
    height: 30px;
}


/* BURGER */
.burger{
    display: block;
    float: left;
    margin-left: auto;
    margin-right: 12px;
    width: 40px;
    height: 40px;

}

/* */
.menuitems {
    float: right;
    margin-right: 5px;
    margin-left: auto;
}

/* */
.menuitems a {
    padding-right: 22px;
    cursor: pointer;
    text-decoration: none;
    border: none;
    outline: none;
    display: inline-flex;
    font-weight: normal;
    font: 100%/1.45 'Montserrat Medium', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: white;
}




/* */
.menuitems a:hover {
    color: #A8C256;
}





.block1C{
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #011C27;
    padding-bottom: 160px;
}

.P1{
 padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 5%;
    border: none;
    outline: none;
    font-weight: normal;
    font: 237.5%/1.45 'Montserrat SemiBold', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: white;
}
.P2{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin-top: 20px;
    border: none;
    outline: none;
    font-weight: normal;
    font:90.5%/2.45 'Montserrat SemiBold', serif;
    font-weight: normal;
    font-kerning: auto;
    font-feature-settings: normal;
    color: white;
}

.b1{
  margin: 0 auto;
    text-align: center;
    padding-top: 30px;


}
.sb1{

    text-align: center;
    border: none;
    outline: none;
    font-weight: normal;
    font:90.5%/2.45 'Montserrat SemiBold', serif;
    font-kerning: auto;
    font-feature-settings: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2em;
    fill: #3D3D3D;
    color: #3D3D3D;
    background-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    padding: 18px 40px 18px 40px;
}

.sb1:hover {
    background-color: #A8C256;
    color: white;
    transform: scale(1.1);
    transition: 0.3s ;
}
